.admin__panel .panel-body { box-shadow: 0 2px 4px rgba(0,0,0,0.18);}
.admin__panel .panel-heading h2 a.btn { background: firebrick; border-color: firebrick; margin-top: 2px;}
.admin__panel .panel-heading h2 a.btn:hover { background-color:  #509195; border: 1px solid #478285;}
.admin__panel .panel-heading h2 a.btn i { margin-right: 6px; }
/*.admin__panel .panel-body .btn-block { margin-top: 1px; }*/

.account__button { background-color: #e4c201; border: 1px solid #cbad01 }
.account__button:hover { background-color:  #509195; border: 1px solid #478285; }

table.admin__table .btn-warning{ margin-right: 5px; color: #fff; }
table.admin__table .btn-danger{ background: firebrick; border: 1px solid #ab2121 }
table.admin__table a{ color: #509195 }

table.admin__table tr td,
table.admin__table th { padding: 8px 16px !important; font-size: 13px; }

.admin__breadcrumb ol.breadcrumb{ background: none; margin-bottom: 0; padding: 0;  }
.admin__breadcrumb ol.breadcrumb li a{ color: #509195; }

p.admin__checkbox {margin: 10px}

/*
 * Select 2 override
 */
.select2-selection.select2-selection--multiple{ border-radius: 0px !important; border-color:#cccccc;}

.select2-search__field{ padding: 5px 11px !important;}

li.select2-selection__choice{margin-top: 10px !important;}

.select2-dropdown{border-color: #cccccc; border-radius: 0; color: #9d9d9d}

.select2-container--default.select2-container--focus .select2-selection--multiple { border: solid 1px #cccccc;box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);}
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #509195;}
.select2-results__option {padding-left: 15px; }

.select2-container--default .select2-selection--multiple .select2-selection__choice {border-radius: 0;color: #333;}

/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
}


/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.admin__navbar {
  border: 0;
  background: #031634;
}

h1.page-header{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: inherit;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #509195;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #fff;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}