h1,h2,h3,h4,h5,h6{margin: 0}

ul{list-style-type: none; padding: 0; margin: 0}

.flex{display: flex;}
.flex-1{flex: 1}
.flex-2{flex: 2}
.flex-3{flex: 3}
.flex-column{flex-direction: column;}
.justify-between{justify-content: space-between;}
.justify-around{justify-content: space-around;}
.justify-center{justify-content: center;}
.justify-start{justify-content: flex-start;}
.justify-end{justify-content: flex-end;}
.align-center{align-items: center;}
.align-end{align-items: flex-end;}
.align-start{align-items: flex-start;}

.grayscale-30{filter: grayscale(30%)}
.grayscale-20{filter: grayscale(20%)}
.grayscale-10{filter: grayscale(10%)}

.opacity-7{opacity: 0.6}
.opacity-9{opacity: 0.9}

.image{width:100%;}

div.alert.alert-danger { background: #fcf8e3; border-color: #faebcc; color: #8a6d3b; }
.asterisk { color:red; }
p.required__fields { font-size: 13px; font-family: 'Gabriela', serif; margin-bottom: 30px; }

ul#parsley-id-multiple-role_id li.parsley-required {margin-left: 8px;}


p.admin__checkbox input{margin-right: 5px;}
p.admin__checkbox span.name{margin-right: 20px;}